/* You can add global styles to this file, and also import other style files */
$border-primary: rgba(208, 213, 221, 1); 
$border-secondary: rgba(233, 236, 241, 1); 

$text-primary: rgba(11, 16, 26, 1); // For primary headlines and important text
$text-secondary: rgba(52, 64, 84, 1);

$bg-primary: rgba(255, 255, 255, 1); // For primary buttons, key-action backgrounds
// $bg-secondary: $color-secondary;

$btn-primary: rgba(34, 60, 211, 1);
$btn-seconday: rgba(150, 185, 250, 1);
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
